* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.exchange-rate2 {
  margin: 1rem 0;
}
.drop-list {
  display: flex;
  /* background-color: black; 
  gap: 3rem;
} */
body {
  background: #add8e6;
  padding: 0 1rem;
}

/* h1 {
  padding: 0.5em;
  margin: 0;
}

h2 {
  margin-top: 0.25em;
}

i {
  padding: 0 0.25em 0 0.25em;
} */

.container {
  max-width: 800px;
  margin: 2em auto;
  padding: 0.5rem 0.5rem;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  font-size: 2rem;
  margin-bottom: 2rem;
}
form {
  width: 100%;
  /* background-color: black; */
}
.convert {
  font-size: 2rem;
}
.drop-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-end;
  flex-wrap: wrap;
}
.drop-list > div {
  width: 100%;
}
.select-box {
  width: 100%;
  background-color: aquamarine;
}
.select,
.input {
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1rem;
}
.amount {
  width: 50%;
  margin: 1rem auto;
}

.from p,
.to p {
  font-size: 1.5rem;
}
.amount {
  font-size: 1rem;
}
.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
}
.exchange-rate {
  font-size: 1.5rem;
  text-align: center;
}
/* .form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  padding-bottom: 2em;
}

#result-text {
  padding-left: 1.1em;
  padding-bottom: 2em;
} */
