* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #add8e6;
  padding: 0 1rem;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 800px;
  margin: 2em auto;
  padding: 0.5rem 0.5rem;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
header {
  font-size: 2rem;
  margin-bottom: 2rem;
}
form {
  width: 100%;
}
.convert {
  font-size: 2rem;
  margin: 0 auto;
}
.drop-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-end;
  flex-wrap: wrap;
}
.drop-list > div {
  width: 100%;
}
.select-box {
  width: 100%;
  background-color: aquamarine;
}
.select,
.input {
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1rem;
}
.amount {
  width: 50%;
  margin: 1rem auto;
}

.from p,
.to p {
  font-size: 1.5rem;
}
.amount {
  font-size: 1rem;
}
.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
  gap: 0.1rem;
}
.exchange-rate {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}
.date {
  margin-top: 2rem;
}
